services:
  - type: web
    name: backend-express
    runtime: node
    buildCommand: npm install
    startCommand: npm start
    sourceDir: backend-express
    envVars:
      - key: NODE_ENV
        value: production
      - key: COMMUNICATION_URL
        fromService:
          type: web
          name: backend-communication
          property: host

  - type: web
    name: backend-communication
    runtime: node
    buildCommand: npm install
    startCommand: npm start
    sourceDir: backend-communication
    envVars:
      - key: NODE_ENV
        value: production
      - key: FLASK_URL
        fromService:
          type: web
          name: backend-flask
          property: host

  - type: web
    name: backend-flask-alt
    runtime: node
    buildCommand: npm install
    startCommand: npm start
    sourceDir: backend-flask-alt
    envVars:
      - key: NODE_ENV
        value: production

  - type: web
    name: backend-flask
    runtime: python3
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    sourceDir: backend-flask
    envVars:
      - key: FLASK_ENV
        value: production

  - type: web
    name: frontend
    runtime: static
    buildCommand: npm run build
    staticPublishPath: ./dist
    sourceDir: frontend
    envVars:
      - key: VITE_API_BASE_URL
        fromService:
          type: web
          name: backend-express
          property: host